@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  --cursor-color: #333
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 80rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  * { @apply border-zinc-300 scroll-smooth }

  body { @apply bg-zinc-50 text-zinc-800 font-sans }

  h1 { @apply text-6xl sm:text-7xl font-light tracking-wider leading-tight }

  h2 { @apply text-5xl sm:text-6xl font-light tracking-wider leading-tight }

  h3 { @apply text-4xl sm:text-5xl font-light tracking-wider leading-tight }

  h4 { @apply text-3xl sm:text-4xl font-light tracking-wider leading-tight }

  h5 { @apply text-2xl sm:text-3xl font-light tracking-wider leading-tight }

  h6 { @apply text-xl sm:text-2xl font-light tracking-wider leading-tight }

  p { @apply text-base font-light tracking-wider leading-relaxed text-zinc-700 text-pretty }
}

::selection { background-color: oklch(90.5% 0.182 98.111) }

.emojiLaptop {
  background-image: url('/emojis/Laptop.WebP');
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  vertical-align: middle;
}

@keyframes waveAnimation {
  0% { transform: rotate(0deg); }
  15% { transform: rotate(14deg); }
  30% { transform: rotate(-8deg); }
  45% { transform: rotate(14deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

.emojiWavingHand {
  background-image: url('/emojis/WavingHand.WebP');
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  vertical-align: middle;
  transition: transform 0.3s ease-in-out;
}

.emojiWavingHand:hover {
  animation: waveAnimation 1.5s ease-in-out;
  transform-origin: 70% 70%;
}
